body {
  height: 100%;
  background-color: #0066FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Header{
  background-color: #0066FF;
  height: 100px;
  background:url('./logo/demicon-logo-1.png') no-repeat center;
}

#formBox{
  padding-top: 15px;
  margin:auto;
  width:50%;
  display:flex;
  justify-content: center;
  color:white;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 20px;;
}

#singleUser{
  margin:auto;
  padding-top:30px;
  border: 5px solid;
  border-color:black;
  border-radius: 2px;
  border:dashed #0066FF;
  width: 40vw;
  height:20vh;
  background-color: white;
}
